{% extends "base.html" %}

{% block app_content %}
    {% if current_user.is_authenticated %}
        <h1>Anmeldung erfolgreich.</h1>
        <p>Sie können nun an der Umfrage teilnehmen.</p>
        <p>Wir würden uns über eine möglichst vollständige und ehrliche Beantwortung der Fragen freuen.</p>
        <p>Bitte bedenke, dass Ihr Token erlischt, sobald Sie am Ende der Umfrage auf "Abschicken" drücken.</p>
    {% else %}
        <h1>Willkommen zur Umfrage</h1>
        <p>Herzlich Willkommen zur Umfrage der MaTSE Klasse MTS61.</p>
        <p>Im Rahmen des Lernfeldes Statistik führen wir eine Umfrage zum Thema <strong>Gesundheit, Ernährung und Freizeitverhalten</strong> durch. Wir würden uns über möglichst vollständige und ehrliche Antworten freuen.</p>
        <p>Ihre Daten sind anonym und werden nicht an Dritte weiter gegeben.</p>
        <p>Sie haben von Ihrem Lehrer einen Zettel mit einem Code bekommen -- wenn nicht, sprechen Sie ihn bitte darauf an. <br>
        Mit diesem Code können Sie sich einmalig anmelden und werden direkt zur Umfrage weitergeleitet.</p>
        <p>Nach dem Abschluss der Umfrage erlischt der Code.</p>
        <h4>Vielen Dank für Ihre Teilnahme.</h4>
    {% endif %}
{% endblock %}