{% extends "base.html" %}

{% block app_content %}
    <h1>Willkommen zur Umfrage</h1>
    <p>Herzlich Willkommen zur Umfrage der MaTSE Klasse MTS61.</p>
    <p>Im Ramen des Lernfeldes Statistik führen wir eine Umfrage zum Thema <strong>Gesundheit, Ernährung und Freizeit</strong> durch. Wir würden uns über möglichst vollständige und ehrliche Antworten freuen.</p>
    <p>Eure Daten sind anonym und werden nicht an Dritte weiter gegeben.</p>
    <p>Du hast von Deinem Lehrer einen Zettel mit einem Code bekommen -- wenn nicht, sprich ihn bitte darauf an. <br>
    Mit diesem Code kannst Du Dich anmelden und dann an der Umfrage teilnehmen.</p>
    <p>Jeder Code kann nur einmal verwendet werden und erlischt sobald die Umfrage angeschickt wurde.</p>
    <h4>Vielen Dank für Deine Teilnahme.</h4>
{% endblock %}
