{% extends "base.html" %}

{% block content %}
    <h1>Neue Frage erfassen</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.category.label }}</br>
            {{ form.category }}</br>
            {{ form.frontend.label }}</br>
            {{ form.frontend }}</br>
            {{ form.question.label }}</br>
            {{ form.question (size=32)}}</br>
            {{ form.sort.label }}</br>
            {{ form.sort (size=5)}}</br>
            {{ form.ans01.label }}</br>
            {{ form.ans01 (size=32)}}</br>
            {{ form.ans02.label }}</br>
            {{ form.ans02 (size=32)}}</br>
            {{ form.ans03.label }}</br>
            {{ form.ans03 (size=32)}}</br>
            {{ form.ans04.label }}</br>
            {{ form.ans04 (size=32)}}</br>
            {{ form.ans05.label }}</br>
            {{ form.ans05 (size=32)}}</br>
            {{ form.ans06.label }}</br>
            {{ form.ans06 (size=32)}}</br>
            {{ form.ans07.label }}</br>
            {{ form.ans07 (size=32)}}</br>
            {{ form.ans08.label }}</br>
            {{ form.ans08 (size=32)}}</br>
            {{ form.ans09.label }}</br>
            {{ form.ans09 (size=32)}}</br>
            {{ form.ans10.label }}</br>
            {{ form.ans10 (size=32)}}</br>
            {{ form.ans11.label }}</br>
            {{ form.ans11 (size=32)}}</br>
            {{ form.ans12.label }}</br>
            {{ form.ans12 (size=32)}}</br>
            {{ form.ans13.label }}</br>
            {{ form.ans13 (size=32)}}</br>
            {{ form.ans14.label }}</br>
            {{ form.ans14 (size=32)}}</br>
            {{ form.ans15.label }}</br>
            {{ form.ans15 (size=32)}}</br>
            {{ form.ans16.label }}</br>
            {{ form.ans16 (size=32)}}</br>
            {{ form.ans17.label }}</br>
            {{ form.ans17 (size=32)}}</br>
            {{ form.ans18.label }}</br>
            {{ form.ans18 (size=32)}}</br>
            {{ form.ans19.label }}</br>
            {{ form.ans19 (size=32)}}</br>
            {{ form.ans20.label }}</br>
            {{ form.ans20 (size=32)}}</br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
