{% extends "base.html" %}

{% block app_content %}
    <h1>Neue Frage erfassen</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <div class="input-group">
            {{ form.category.label(class_="input-group-addon") }}
            {{ form.category (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.frontend.label(class_="input-group-addon") }}
            {{ form.frontend (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.question.label(class_="input-group-addon") }}
            {{ form.question (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.sort.label(class_="input-group-addon") }}
            {{ form.sort (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans01.label(class_="input-group-addon") }}
            {{ form.ans01 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans02.label(class_="input-group-addon") }}
            {{ form.ans02 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans03.label(class_="input-group-addon") }}
            {{ form.ans03 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans04.label(class_="input-group-addon") }}
            {{ form.ans04 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans05.label(class_="input-group-addon") }}
            {{ form.ans05 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans06.label(class_="input-group-addon") }}
            {{ form.ans06 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans07.label(class_="input-group-addon") }}
            {{ form.ans07 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans08.label(class_="input-group-addon") }}
            {{ form.ans08 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans09.label(class_="input-group-addon") }}
            {{ form.ans09 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans10.label(class_="input-group-addon") }}
            {{ form.ans10 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans11.label(class_="input-group-addon") }}
            {{ form.ans11 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans12.label(class_="input-group-addon") }}
            {{ form.ans12 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans13.label(class_="input-group-addon") }}
            {{ form.ans13 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans14.label(class_="input-group-addon") }}
            {{ form.ans14 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans15.label(class_="input-group-addon") }}
            {{ form.ans15 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans16.label(class_="input-group-addon") }}
            {{ form.ans16 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans17.label(class_="input-group-addon") }}
            {{ form.ans17 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans18.label(class_="input-group-addon") }}
            {{ form.ans18 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans19.label(class_="input-group-addon") }}
            {{ form.ans19 (class_="form-control")}}
            </div>
            <div class="input-group">
            {{ form.ans20.label(class_="input-group-addon") }}
            {{ form.ans20 (class_="form-control")}}
            </div>
        </p>
        <p>{{ form.submit (class_="btn btn-primary") }}</p>
    </form>
{% endblock %}
