{% extends "base.html" %}

{% block content %}
    <h1>Umfrage</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {% for element in form %}
                {{ element.label }}</br>
                {{ element() }}</br>
            <!--{{ form.q0.label }}</br>-->
            <!--{{ form.q0 }}</br>-->
            <!--{{ form.q1.label }}</br>-->
            <!--{{ form.q1 }}</br>-->
            <!--{{ form.q2.label }}</br>-->
            <!--{{ form.q2 }}</br>-->
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
