{% macro render_form(form, category) %}
    {% for field in form %}
        {% if field.description == category %}
            {% if field.type == "CSRFTokenField" %}
            <p>
                {{ field }}
            </p>
            {% elif field.type == "SubmitField" %}
            <p>
                {{ field (class_="btn btn-primary")}}
            </p>
            {% elif field.type == "MultiCheckboxField" %}
            <div class="input-group">
            <p>
                {{ field.label }}</br>
                {% for value, label, _ in field.iter_choices() %}
                    <label class="checkbox-inline">
                        <input type="checkbox" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
                    </label>
                {% endfor %}
            </p>
            </div>
            {% elif field.type == "RadioField" %}
            <div class="input-group">
            <p>
                {{ field.label }}</br>
                {% for value, label, _ in field.iter_choices() %}
                    <label class="radio-inline">
                        <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
                    </label>
                {% endfor %}
            </p>
            </div>
            {% else %}
            <div class="input-group">
            <p>
                {{ field.label }}
                {{ field (class_="form-control")}}
            </p>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% extends "base.html" %}

{% block app_content %}
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 37%;">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>
    <h1>Umfrage</h1>
    <ul class="nav nav-tabs">
        <li id="tab1" class="active"><a data-toggle="tab" href="#allgemein">Allgemein</a></li>
        <li id="tab2"><a data-toggle="tab" href="#ernaehrung">Ernährung</a></li>
        <li id="tab3"><a data-toggle="tab" href="#freizeit">Freizeitverhalten</a></li>
        <li id="tab4"><a data-toggle="tab" href="#gesundheit">Gesundheit</a></li>
    </ul>
    <form id="input-progress" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <div class="tab-content">
                <div id="allgemein" class="tab-pane fade in active">
                    {{ render_form(form, "Allgemeines") }}
                    <p><button id="btn1" class="btn pull-right"><a data-toggle="tab" href="#ernaehrung">Weiter</a></button></p>
                </div>
                <div id="ernaehrung" class="tab-pane fade">
                    {{ render_form(form, "Ernährung") }}
                    <p><button id="btn4" class="btn"><a data-toggle="tab" href="#allgemein">Zurück</a></button>
                    <button id="btn2" class="btn pull-right"><a data-toggle="tab" href="#freizeit">Weiter</a></button></p>
                </div>
                <div id="freizeit" class="tab-pane fade">
                    {{ render_form(form, "Freizeitverhalten") }}
                    <p><button id="btn5" class="btn"><a data-toggle="tab" href="#ernaehrung">Zurück</a></button>
                    <button id="btn3" class="btn pull-right"><a data-toggle="tab" href="#gesundheit">Weiter</a></button></p>
                </div>
                <div id="gesundheit" class="tab-pane fade">
                    {{ render_form(form, "Gesundheit") }}
                    <p><button id="btn6" class="btn"><a data-toggle="tab" href="#freizeit">Zurück</a></button>
                    {{ form.submit (class_="btn btn-primary pull-right") }}</p>
                </div>
            </div>
        </p>
    </form>
{% endblock %}


{% block scripts %}
{{ super() }}
    <script>
        document.getElementById("btn1").onclick = function() { $('#tab2').tab('show') };
        document.getElementById("btn2").onclick = function() { $('#tab3').tab('show') };
        document.getElementById("btn3").onclick = function() { $('#tab4').tab('show') };
        document.getElementById("btn4").onclick = function() { $('#tab1').tab('show') };
        document.getElementById("btn5").onclick = function() { $('#tab2').tab('show') };
        document.getElementById("btn6").onclick = function() { $('#tab3').tab('show') };

        $(document).ready(function(){
            function updateInputProgress(){
                var filledFields = 0;
                console.log("filled Fields: " + filledFields);
                $("#input-progress").find("input, select, ul").each(function(){
                    if($(this).val() != ""){
                        filledFields++;
                        console.log("filled Fields: " + filledFields);
                    }
                });
                
                var percent = Math.ceil(100 * filledFields / totalFields);
                $("#progress-inputs .progress-bar").attr("aria-valuenow", percent).width(percent + "%").find(".sr-only").html(percent + "% Complete");
                
                return percent;
            }
            
            //Input Progress
            var totalFields = $("#input-progress").find("input, select").length;
            console.log("total Fields: " + totalFields);
            $("#input-progress").click(function(){
                updateInputProgress();
            });
            $("#input-progress .btn-success").click(function(){
                var percent = updateInputProgress();
                if(percent == 100){
                    alert("Finished inputs successfully!");
                }
            })
            
        });
    </script>
{% endblock %}