{% macro render_form(form, category) %}
    {% for field in form %}
        {% if field.description == category %}
            {% if field.type == "CSRFTokenField" %}
            <p>
                {{ field }}
            </p>
            {% elif field.type == "SubmitField" %}
            <p>
                {{ field (class_="btn btn-primary")}}
            </p>
            {% elif field.type == "MultiCheckboxField" %}
            <div class="input-group">
            <p>
                {{ field.label }}</br>
                {% for value, label, _ in field.iter_choices() %}
                    <label class="checkbox-inline">
                        <input type="checkbox" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
                    </label>
                {% endfor %}
                {% for error in field.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            </div>
            {% elif field.type == "RadioField" %}
            <div class="input-group">
            <p>
                {{ field.label }}</br>
                {% for value, label, _ in field.iter_choices() %}
                    <label class="radio-inline">
                        <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
                    </label>
                {% endfor %}
                {% for error in field.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            </div>
            {% else %}
            <div class="input-group">
            <p>
                {{ field.label }}
                {{ field (class_="form-control")}}
                {% for error in field.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% extends "base.html" %}

{% block app_content %}
    <h1>Umfrage</h1>
    <ul class="nav nav-tabs">
        <li id="tab1" class="active"><a data-toggle="tab" href="#allgemein">Allgemein</a></li>
        <li id="tab2"><a data-toggle="tab" href="#ernaehrung">Ernährung</a></li>
        <li id="tab3"><a data-toggle="tab" href="#freizeit">Freizeitverhalten</a></li>
        <li id="tab4"><a data-toggle="tab" href="#gesundheit">Gesundheit</a></li>
    </ul>
    <form id="survey" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <div class="tab-content">
                <div id="allgemein" class="tab-pane fade in active">
                    {{ render_form(form, "Allgemeines") }}
                    <p><a data-toggle="tab" href="#ernaehrung"></a><button id="btn1" class="btn pull-right">Weiter</button></a></p>
                </div>
                <div id="ernaehrung" class="tab-pane fade">
                    {{ render_form(form, "Ernährung") }}
                    <p><a data-toggle="tab" href="#allgemein"></a><button id="btn4" class="btn">Zurück</button></a>
                    <a data-toggle="tab" href="#freizeit"></a><button id="btn2" class="btn pull-right">Weiter</button></a></p>
                </div>
                <div id="freizeit" class="tab-pane fade">
                    {{ render_form(form, "Freizeitverhalten") }}
                    <p><a data-toggle="tab" href="#ernaehrung"></a><button id="btn5" class="btn">Zurück</button></a>
                    <a data-toggle="tab" href="#gesundheit"></a><button id="btn3" class="btn pull-right">Weiter</button></a></p>
                </div>
                <div id="gesundheit" class="tab-pane fade">
                    {{ render_form(form, "Gesundheit") }}
                    <p><a data-toggle="tab" href="#freizeit"></a><button id="btn6" class="btn">Zurück</button></a>
                    {{ form.submit (class_="btn btn-primary pull-right") }}</p>
                </div>
            </div>
        </p>
    </form>
{% endblock %}


{% block scripts %}
{{ super() }}
    <script>
        document.getElementById("btn1").onclick = function() { saveTempData(); $('#tab2').tab('show') };
        document.getElementById("btn2").onclick = function() { saveTempData(); $('#tab3').tab('show') };
        document.getElementById("btn3").onclick = function() { saveTempData(); $('#tab4').tab('show') };
        document.getElementById("btn4").onclick = function() { saveTempData(); $('#tab1').tab('show') };
        document.getElementById("btn5").onclick = function() { saveTempData(); $('#tab2').tab('show') };
        document.getElementById("btn6").onclick = function() { saveTempData(); $('#tab3').tab('show') };
    </script>
    <script>
        function saveTempData() { // save temporary form data to DB via ajax
            var formArray = $('#survey').serializeArray();
            var formObject = objectifyForm(formArray);
            console.log(formObject);
            $.ajax({
                url: '/save',
                data: formObject,
                type: "POST",
            })
            .done(function(response) {
                console.log(response);
            });
        }
        function objectifyForm(formArray) { // make object from array
            var returnObject = {};
            for (var i = 0; i < formArray.length; i++){
                returnObject[formArray[i]['name']] = formArray[i]['value'];
            }
            return returnObject;
        }
    </script>
{% endblock %}